body {
  background-color: #11001c;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
  text-align: center;
  color: #fff;
}

#todo-input {
  border-radius: 20px;
  padding: 15px;
  background-color: #3a015c;
  color: #fff;
  border: none;
}

#todo-input-btn {
  border-radius: 20px;
  padding: 15px 20px 15px;
  background-color: #3a015c;
  color: #fff;
  border: none;
}

#todo-list-container {
  background-color: #220135;
  border-radius: 25px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: #fff;
}

.todo {
  background-color: #422c61;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  height: 20px;
  width: 100%;
}

.todo li {
  float: left;
}

.todo button {
  float: right;
  border-radius: 20px;
  padding: 10px 20px 10px;
  background-color: #3a015c;
  color: #fff;
  border: none;
}

.checked {
  text-decoration: line-through;
}
